/* fonts */


/* jost */

/* jost regular */

@font-face {
    font-family: "Jost";
    src: local("Jost regular"),
        url("../fonts/jost/regular/jost-regular.eot"),
        url("../fonts/jost/regular/jost-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/jost/regular/jost-regular.woff2") format("woff2"),
        url("../fonts/jost/regular/jost-regular.woff") format("woff"),
        url("../fonts/jost/regular/jost-regular.ttf") format("truetype"),
        url("../fonts/jost/regular/jost-regular.svg") fornat("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

/* jost medium */

@font-face {
    font-family: "Jost";
    src: local("Jost medium"),
        url("../fonts/jost/medium/Jost-Medium.eot"),
        url("../fonts/jost/medium/Jost-Medium.eot?#") format("embedded-opentype"),
        url("../fonts/jost/medium/Jost-Medium.woff2") format("woff2"),
        url("../fonts/jost/medium/Jost-Medium.woff") format("woff"),
        url("../fonts/jost/medium/Jost-Medium.ttf") format("truetype"),
        url("../fonts/jost/medium/Jost-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}


/* poppins */

/* poppins medium */

@font-face {
    font-family: "Poppins";
    src: local("Poppins medium"),
        url("../fonts/poppins/medium/poppins_medium.eot"),
        url("../fonts/poppins/medium/poppins_medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/poppins/medium/poppins_medium.woff2") format("woff2"),
        url("../fonts/poppins/medium/poppins_medium.woff") format("woff"),
        url("../fonts/poppins/medium/poppins_medium.ttf") format("truetype"),
        url("../fonts/poppins/medium/poppins_medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* zen dots */

/* zen dots regular */

@font-face {
    font-family: "Zen Dots";
    src: local("Zen Dots regular"),
        url("../fonts/zen-dots/regular/zen_dots_regular.eot"),
        url("../fonts/zen-dots/regular/zen_dots_regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/zen-dots/regular/zen_dots_regular.woff2") format("woff2"),
        url("../fonts/zen-dots/regular/zen_dots_regular.woff") format("woff"),
        url("../fonts/zen-dots/regular/zen_dots_regular.ttf") format("truetype"),
        url("../fonts/zen-dots/regular/zen_dots_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* variables */

:root {
    --default-color-text: #ffffff;
    --soft-color-text: #bdbfd1;

    --default-color-bg: #020b12;
    --soft-color-bg: #cab0b3;
    --light-color-bg: #ffffff;
    --default-gradient-bg: linear-gradient(125deg, #cab0b3 0%, #c3181f 60%,
     #0b0e17 97%, #09101d 100%);

    --default-size-text: 18px;
}

.document {
    scroll-behavior: smooth;

    font-size: var(--default-size-text);
}

/* .page */

.page {
    background: var(--default-color-bg);

    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    color: var(--default-color-text);
}

/* .wrapper */

.wrapper {
    overflow: hidden;
}

.page__wrapper {
    width: 100%;
    max-width: 1440px;

    margin: 0 auto;
}

.inner {
    position: relative;
}

.page__inner {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
}

/* .header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__header {
    position: fixed;
    
    width: 100%;
    max-width: 1200px;

    margin: 74px auto 149px;
}

/* .logo */

.logo__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-family: "Zen Dots", sans-serif;
    font-size: 1.77rem;
    white-space: nowrap;
}

.logo__text {
    text-transform: lowercase;
}

.logo__text-accent {
    background: var(--default-gradient-bg);
    background-clip: text;
    -webkit-background-clip: text;

    text-transform: uppercase;
    color: transparent;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* .nav */

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

/* .link */

.link {
    display: inline-block;

    text-transform: capitalize;
    white-space: nowrap;
}

.nav__link {
    line-height: 1.5;

    opacity: 0.9;

    transition: opacity 0.3s ease-in, color 0.4s ease-in;
}

.nav__link:hover, 
.nav__link:focus {
    background: var(--default-gradient-bg);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;

    opacity: 1;
}

/* .btn */

.btn {
    display: inline-block;

    background: inherit;

    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
}

.btn--standart {
    padding: 1em 2.5em;

    background: var(--default-gradient-bg);
    border: 1px solid var(--default-color-bg);
    border-radius: 0.555em;

    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.445;

    transition: border 0.3s ease-in, box-shadow 0.3s ease-in, text-shadow 0.3s ease-in;
}

.btn--standart:hover,
.btn--standart:focus {
    border: 1px solid var(--soft-color-bg);
    box-shadow: 0 0 2em var(--soft-color-bg);
    text-shadow: 0 0 1em var(--default-color-text); 
}

/* .menu */

.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 55px;

    border-radius: 50%;
}

.menu__line {
    display: block;
    
    height: 5px;
    width: 100%;

    background: var(--light-color-bg);
    border-radius: 12%;

    transition: all 0.3s ease-in;
}

.menu__line--top {
    transform: rotate(45deg) scale(1.5) translate(10%, 20%);
}

.menu__line--bottom {
    transform: rotate(-45deg) scale(1.5) translate(6%, -10%);
}

.menu__line--middle {
    transform: scale(0);
}

/* .intro */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__intro {
    position: relative;
}

.intro__column--description {
    width: 100%;
    max-width: 631px;

    margin-top: 285px;
}
.intro__column--img {
    position: absolute;
    top: 0;
    right: -10%;
    z-index: -1;
}

/* .title */

.title {
    font-family: "Zen Dots", sans-serif;
    font-size: 4.111rem;
    line-height: 1.459;
    text-transform: capitalize;
}

.intro__title {
    margin: 0 0 16px;
}

.intro__text-inner {
    margin: 0 0 77px;

    color: var(--soft-color-text);
}

.intro__text-inner *:not(:last-child) {
    margin: 0 0 15px;
}

.intro__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;

    margin: 0 0 68px;
}


/* .creator */

.card__avatar {
    display: block;
    
    width: 54px;
    height: 54px;

    border-radius: 50%;

    object-fit: cover;
}