/* fonts */


/* jost */

/* jost regular */

@font-face {
    font-family: "Jost";
    src: local("Jost regular"),
        url("../fonts/jost/regular/jost-regular.eot"),
        url("../fonts/jost/regular/jost-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/jost/regular/jost-regular.woff2") format("woff2"),
        url("../fonts/jost/regular/jost-regular.woff") format("woff"),
        url("../fonts/jost/regular/jost-regular.ttf") format("truetype"),
        url("../fonts/jost/regular/jost-regular.svg") fornat("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}

/* jost medium */

@font-face {
    font-family: "Jost";
    src: local("Jost medium"),
        url("../fonts/jost/medium/Jost-Medium.eot"),
        url("../fonts/jost/medium/Jost-Medium.eot?#") format("embedded-opentype"),
        url("../fonts/jost/medium/Jost-Medium.woff2") format("woff2"),
        url("../fonts/jost/medium/Jost-Medium.woff") format("woff"),
        url("../fonts/jost/medium/Jost-Medium.ttf") format("truetype"),
        url("../fonts/jost/medium/Jost-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
}


/* poppins */

/* poppins medium */

@font-face {
    font-family: "Poppins";
    src: local("Poppins medium"),
        url("../fonts/poppins/medium/poppins_medium.eot"),
        url("../fonts/poppins/medium/poppins_medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/poppins/medium/poppins_medium.woff2") format("woff2"),
        url("../fonts/poppins/medium/poppins_medium.woff") format("woff"),
        url("../fonts/poppins/medium/poppins_medium.ttf") format("truetype"),
        url("../fonts/poppins/medium/poppins_medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


/* zen dots */

/* zen dots regular */

@font-face {
    font-family: "Zen Dots";
    src: local("Zen Dots regular"),
        url("../fonts/zen-dots/regular/zen_dots_regular.eot"),
        url("../fonts/zen-dots/regular/zen_dots_regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/zen-dots/regular/zen_dots_regular.woff2") format("woff2"),
        url("../fonts/zen-dots/regular/zen_dots_regular.woff") format("woff"),
        url("../fonts/zen-dots/regular/zen_dots_regular.ttf") format("truetype"),
        url("../fonts/zen-dots/regular/zen_dots_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* variables */

:root {
    --default-color-text: #ffffff;
    --soft-color-text: #bdbfd1;
    --primaty-color-text: #9093b1;

    --default-color-bg: #020b12;
    --soft-color-bg: #cab0b3;
    --light-color-bg: #ffffff;
    --primary-color-bg: #0f4ca5;
    --inactive-color-bg: #e9e9ef;
    --default-gradient-bg: linear-gradient(125deg, #cab0b3 0%, #c3181f 60%,
     #0b0e17 97%, #09101d 100%);

    --default-size-text: 18px;

    --soft-border-color: #e9e9ef;
    --accent-border-color: #ee29c9;
    --default-border-color: #002445;
    --primary-color-border: #ffdd10;
}

.document {
    scroll-behavior: smooth;

    font-size: var(--default-size-text);
}

/* .page */

.page {
    background: var(--default-color-bg);

    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    color: var(--default-color-text);
}

/* .wrapper */

.wrapper {
    overflow: hidden;
}

.page__wrapper {
    width: 100%;
    max-width: 1440px;

    margin: 0 auto;
}

/* .inner */

.inner {
    position: relative;
}

.page__inner {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
}

/* .header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__header {
    position: fixed;
    z-index: 30;
    
    width: 100%;
    max-width: 1200px;

    margin: 74px auto 149px;
}

/* .logo */

.logo__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-family: "Zen Dots", sans-serif;
    font-size: 1.77rem;
    white-space: nowrap;
}

.logo__text {
    text-transform: lowercase;
}

.logo__text-accent {
    background: var(--default-gradient-bg);
    background-clip: text;
    -webkit-background-clip: text;

    text-transform: uppercase;
    color: transparent;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* .nav */

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

/* .link */

.link {
    display: inline-block;

    text-transform: capitalize;
    white-space: nowrap;
}

.nav__link {
    line-height: 1.5;

    opacity: 0.9;

    transition: opacity 0.3s ease-in, color 0.4s ease-in;
}

.nav__link:hover, 
.nav__link:focus {
    background: var(--default-gradient-bg);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;

    opacity: 1;
}

/* .btn */

.btn {
    display: inline-block;

    background: inherit;

    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
}

.btn--standart {
    padding: 1em 2.5em;

    border-radius: 0.555em;
    border: 1px solid transparent;

    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.445;

    transition: border 0.3s ease-in, box-shadow 0.3s ease-in, text-shadow 0.3s ease-in;
}

.btn--standart:hover,
.btn--standart:focus {
    border: 1px solid var(--soft-color-bg);
    box-shadow: 0 0 2em var(--soft-color-bg);
    text-shadow: 0 0 1em var(--default-color-text); 
}

.btn--accent {
    background: var(--default-gradient-bg);
    border: 1px solid var(--default-color-bg);
}

/* .menu */

.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
    width: 55px;

    border-radius: 50%;
}

.menu__line {
    display: block;
    
    height: 5px;
    width: 100%;

    background: var(--light-color-bg);
    border-radius: 12%;

    transition: all 0.3s ease-in;
}

.menu__line--top {
    transform: rotate(45deg) scale(1.5) translate(10%, 20%);
}

.menu__line--bottom {
    transform: rotate(-45deg) scale(1.5) translate(6%, -10%);
}

.menu__line--middle {
    transform: scale(0);
}

/* .intro */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main__intro {
    position: relative;

    margin: 0 0 149px;
}

.intro__column--description {
    width: 100%;
    max-width: 631px;

    margin-top: 285px;
}
.intro__column--img {
    position: absolute;
    top: 0;
    right: -10%;
    z-index: -1;
}

/* .title */

.title {
    font-family: "Zen Dots", sans-serif;
    font-size: 4.111rem;
    line-height: 1.459;
    text-transform: capitalize;
}

.intro__title {
    margin: 0 0 16px;
}

.intro__text-inner {
    margin: 0 0 77px;

    color: var(--soft-color-text);
}

.intro__text-inner *:not(:last-child) {
    margin: 0 0 15px;
}

.intro__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;

    margin: 0 0 68px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

/* .creator */

.main__creator {
    margin: 0 0 97px;

    text-align: center;
}

.creator__header {
    text-align: center;
}

.card__avatar {
    display: block;
    
    width: 54px;
    height: 54px;

    border-radius: 50%;

    object-fit: cover;
}

.subtitle {
    font-family: "Zen Dots";
    font-size: 2.666rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.creator__subtitle {
    margin: 0 0 16px;
}

.text-contain {
    line-height: 1.833;
    color: var(--soft-color-text);
}

.creator__text-contain {
    width: 100%;
    max-width: 650px;

    margin: 0 auto 74px;
}

.creator__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 31px;

    margin: 0 0 57px;
}

.creator__item {
    flex-basis: 275px;

    margin: 0 0 2.22em;
    padding: 0.83em 1.22em;

    border: 1px solid var(--soft-border-color);
    border-radius: 0.55em;
}

.creator__card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    
    width: 100%;
}

.subtitle--min {
    font-weight: 400;

    text-transform: capitalize;
    letter-spacing: 1px;
}

.card__subtitle {
    margin: 0 0 0.43em;

    text-align: left;
    white-space: nowrap;
}

.card__cost-contain {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.card__cost-number {
    font-size: 0.88rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* .collection */

.main__collection {
    margin: 0 0 141px;
}

.collection__subtitle {
    margin: 0 0 16px;
}

.collection__text-contain {
    width: 100%;
    max-width: 650px;
    
    margin: 0 auto 74px;
}

.section-header {
    text-align: center;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 65px;
}

.collection__slider {
    width: 1500px;

    margin: 0 0 80px;
}

.slider__item {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    width: 100%;
    max-width: 387px;
    height: 512px;

    border-radius: 10%;

    overflow: hidden;

    transition: all 0.3s ease-in;
    
    cursor: pointer;
}

.slider__item:hover,
.slider__item:focus {
    box-shadow: 0 0 2em var(--light-color-bg);
} 

.slider__item:nth-child(2) {
    max-width: 321px;
    max-height: 424px;
}

.slider__item:nth-child(3) {
    max-width: 261px;
    max-height: 344px;
}

.slider__item:nth-child(4) {
    max-width: 219px;
    max-height: 288px;
}

.slider__img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.slider__img--reverse {
    transform: scaleX(-1);
}

.slider__text-contain {
    position: absolute;
    left: 0;
    bottom: 0;

    transform: translateY(100%);

    display: block;

    width: 100%;

    padding: 10px 20px 31px 22px;

    background: rgba(255, 255, 255, 0.1);
}

.slider__item:nth-child(1) .slider__text-contain {
    transform: translateY(0); 
}

.slider__subtitle {
    margin: 0 0 0.94em;

    font-family: "Zen Dots", sans-serif;
    font-size: 1.66em;
    line-height: 3.05em;
}

.slider__text-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.slider__link {
    font-weight: 500;
    line-height: 1.4; 
}

.slider__btn {
    padding: 0.72em 1.88em;

    border-radius: 0.55em;
    
    font-weight: 500;
    line-height: 1.4;
}

.btn--primary {
    background: var(--primary-color-bg);
}

.slider__control-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 82px;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.control--next {
    background: var(--default-gradient-bg);
}

.control--prev {
    background: var(--inactive-color-bg);
}

.slider__control {
    width: 81px;
    height: 81px;
}

.control__icon--reverse {
    transform: scaleX(-1);
}


/* .video-work */

.video-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: strtch;
}

.main__video-work {
    width: 100%;

    margin: 0 0 56px;
}

.video-work__column {
    position: relative;
}

.video-work__column--video {
    padding: 0 0 180px 180px;
}

.video-work__header {
    margin: 0 0 107px;

    text-align: left;
}

.video-work__subtitle {
    margin: 0 0 16px;
}

.video-work__text-contain {
    width: 100%;
    max-width: 474px
}

.video__contain {
    position: absolute;
    z-index: 2;
}

.video__contain:nth-child(1) {
    left: 0;
    top: 6%;
}

.video__contain:nth-child(2) {
    left: 4%;
    bottom: 22%;
}

.video__contain:nth-child(3) {
    left: 53%;
    bottom: -3%;
    
}

.video__contain:nth-child(4) {
    left: 98%;
    bottom: 22%;
}

.video__contain:nth-child(5) {
    left: 100%;
    top: 6%;
}

.video__item {
    display: block;

    overflow: hidden;

    width: 160px;
    height: 160px;

    border: 10px solid var(--accent-border-color);
    border-radius: 50%;

    transition: box-shadow 0.3s ease-in;
    cursor: pointer;
}

.video__item:hover,
.video__item:focus {
    box-shadow: 0 0 20px var(--accent-border-color);
}

.video__item--primary {
    border-color: var(--primary-color-border);
}

.video__item--primary:hover,
.video__item--primary:focus {
    box-shadow: 0 0 20px var(--primary-color-border);
}

.video__img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.video__preview {
    position: relative;
}

.preview__video {
    position: relative;

    display: block;

    overflow: hidden;

    width: 407px;
    height: 407px;

    border-radius: 50%;
    border: 10px solid var(--default-border-color);

    transition: box-shadow 0.3s ease-in;

    cursor: pointer;
}

.preview__video:hover,
.preview__video:focus {
    box-shadow: 0 0 20px var(--default-border-color);
}

.preview__img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.preview__btn {
    position: absolute;
    left: 7%;
    top: 0;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 34px 30px 34px 38px;

    border-radius: 50%;
}


/* .description */

.description {
    width: 100%;

    text-align: center;
}

.main__description {
    width: 100%;

    margin: 0 0 133px;
}

.description__header {
    width: 100%;
    max-width: 950px;

    margin: 0 auto 77px;
}

.description__subtutle {
    margin: 0 0 16px;
}

.description__text-contain {
    width: 100%;
    max-width: 802px;

    margin: 0 auto;
}

.description__text-contain *:not(:last-child) {
    margin: 0 0 10px;
}


/* .footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.page__footer {
    width: 100%;

    margin: 0 0 49px;
}

.footer__column {
    text-align: left;
}

.footer__logo {
    margin: 0 0 30px;
}

.logo__link--footer {
    justify-content: flex-start;
}

.footer__description {
    width: 100%;
    max-width: 202px;

    margin: 0 0 29px;
    
    font-size: 0.88em;
    line-height: 1.93em;
    letter-spacing: 1px;
    
    color: var(--primaty-color-text);
}

.footer__description *:not(:last-child) {
    margin: 0 0 10px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.social__link {
    position: relative;

    display: inline-block;

    padding: 5px;
}

.social__link:hover .social__tooltip,
.social__link:focus .social__tooltip {
    transform: translate(-50%, -130%);

    opacity: 1;
    visibility: visible;
}

.social__tooltip {
    position: absolute;
    left: 50%;
    top: 0;

    transform: translateX(-50%);

    box-shadow: 0 0 10px var(--primary-color-bg);

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
    padding: 0.5em 1em;

    background: var(--primary-color-bg);
    border-radius: 10px;

    color: var(--default-color-text);
}

.tooltip::before {
    content: "";

    position: absolute;

    bottom: -7%;
    left: 50%;

    transform: translateX(-50%) rotate(45deg);
    
    display: block;

    width: 0.7em;
    height: 0.7em;

    background: inherit;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;
    max-width: 55%;
}

.subtitle--extra-min {
    font-family: "Zen Dots", sans-serif;
    font-size: 1.33em;
    line-height: 1.75em;
    text-transform: capitalize;
    color: var(--default-color-text);
}

.footer__subtitle {
    margin: 0 0 28px;
}

.footer__nav-list {
    font-size: 0.88em;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--primaty-color-text);
}

.footer__nav-item {
    margin: 0 0 26px;
}